{% comment %} {% load static hours_tags %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="stylesheet" href="{% static 'css/final.css' %}">
  <script src="{% static 'js/index.js' %}" defer></script>
</head>

<body class="bg-linear-to-br from-primary to-primary-alt text-slate-200 font-sans antialiased">

  {% block content %}{% endblock %}

</body>
</html>
